<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Impact Guru" verbose="10" parallel="true" thread-count="2" >
    <test name="Failed donation and Create fund raiser">
        <classes>
            <class name="TEST.TestCreateFundRaiser"></class>
            <class name="FailDonation"></class>
        </classes>
    </test>
</suite>