<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Impact Guru" verbose="5" parallel="false" data-provider-thread-count="2">
    <test name="Test Home Page and Browse Fund Raiser">
        <classes>
            <class name="testcases.TestCase1"/>
            <class name="testcases.TestBrowseFundRaiser"></class>
        </classes>
    </test>
</suite>